<div class="container mt-5"> 



    <span> 
        <img style="height: 180px;" src= 
     "assets\images\parrot.png" /> 
    </span> 
	<h1> 
		
		Any thing you can buy
	</h1> 
	<h3> 
		You have selected this Products: {{selected_products}} 
	</h3> 
	<div class="form-group mt-5"> 
		<label for="sel1"> 
			Select Any Products: 
		</label> 
		<select class="form-control"
				(change)="onChange($event)"> 
			<option default>grocery</option> 
			<option>Electronics</option> 
			<option>Footwear</option> 
			<option>Books</option> 
			<option>Faishon</option> 
            <option>Jewellery</option> 
            <option>Toys</option> 
            <option>Beauty</option> 

		</select> 
	</div> 
</div>

