
<div class="cart-top container-fluid">
    <div class="container d-flex">
        <!-- <div class="items">
            <a>
                <img src="assets\images\products.png">
                <h6>All Products</h6>
            </a>
        </div> -->
        <!-- <div class="items">
            <a>
                <img src="assets\images\grocery.png">
                <h6> grocery</h6>
            </a>
        </div> -->
         
        <!-- <div class="items">
            <a>
                <img src="assets\images\gadget.png">
                <h6>Electronics</h6>
            </a>
        </div>  -->
        <!-- <div class="items">
            <a>
                <img src="assets\images\shoes.png">
                <h6>Footwear</h6>
            </a>
        </div>
        <div class="items">
            <a>
                <img src="assets\images\dress.png">
                <h6>Faishon</h6>
            </a>

        </div>
        <div class="items">
            <a>
                <img src="assets\images\jewelry.png">
                <h6>Jewellery</h6>
            </a>

        </div>
        <div class="items">
            <a>
                <img src="assets\images\storage-box.png">
                <h6>Toys</h6>
            </a>

        </div>
        <div class="items">
            <a>
                <img src="assets\images\accessories.png">
                <h6>Accessories</h6>
            </a>

        </div>
        <div class="items">
            <a>
                <img src="assets\images\makeup-pouch.png">
                <h6>Beauty</h6>
            </a>

        </div>
        <div class="items">
            <a>
                <img src="assets\images\water-bottle.png">
                <h6>water Bottles</h6>
            </a>

        </div>
        <div class="items">
            <a>
                <img src="assets\images\toolkit.png">
                <h6>toolkit</h6>
            </a> -->

<!--         

        <div class="items">
            <a>
                <img src="assets\images\kitchenware.png">
                <h6>Kitchenwares</h6>
            </a> 

         </div>   -->

         <div class="items">
            <a>
                <img src="assets\images\book.png">
                <h6>Books</h6>
            </a>

        </div> 
    </div>
    </div>


<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of productlist">
        <div class="card col-md-3">
            <img src="{{item.image}}"alt="">
            <h5 class="itemdata">{{item.title}}</h5>
            <P class="itemdata">{{item.description}}</P>
            <p><strong>price:</strong>${{item.price}}</p>
            <p><strong>{{item.category}}</strong></p>
          
            <button class=" btn-primary" style=" background-color: brown;" (click)="addtoCart(item)" >add to cart</button>
        </div>
    </ng-container>
    </div>
</div>